In [1]:
import pandas as pd
import numpy as np

In [2]:
submissions_data_train_df = pd.read_csv('submissions_data_train.csv')
submissions_data_train_df.head()

   step_id   timestamp submission_status  user_id
0    31971  1434349275           correct    15853
1    31972  1434348300           correct    15853
2    31972  1478852149             wrong    15853
3    31972  1478852164           correct    15853
4    31976  1434348123             wrong    15853

In [3]:
event_data_train_df = pd.read_csv('event_data_train.csv')
event_data_train_df.head()

   step_id   timestamp      action  user_id
0    32815  1434340848      viewed    17632
1    32815  1434340848      passed    17632
2    32815  1434340848  discovered    17632
3    32811  1434340895  discovered    17632
4    32811  1434340895      viewed    17632